@media screen and (max-width: 1200px) {
		
}
@media screen and (max-width: 992px) {	
	.header-info > p {
		font-size: 18px;
	}
	.div-text2 {
		padding: 100px;
	}
}
@media screen and (max-width: 768px) {
	.mobile-menu {
		display: block;
	}
	.menu {
		display: none;
	}
	.div-text2 {
		padding: 50px;
	}
	.header-info > h1 {
		font-size: 81px;
	}
	.header-info > p {
		font-size: 14px;
	}
	.header-div {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	main > .text {
		font-size: 16px;
	}
	.div-text2 {
		width: 100%;
	}
	.div-img2 {
		width: 100%;
	}
	.text7 > div {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.img-text2 {
		padding: 100px;
	}
	.footer-text > .text {
		font-size: 13px;
	}
}

































































































































































